/* {
  border: 1px solid red;
}*/

html{
  font-family: helvetica;
  font-size: 18px;
}

body{
  line-height: 1.4;
}

.container{
  max-width: 960px;
  margin: auto;
}

/* -------------------------header------------------------- */

header{
  padding-top: 1rem;
  height: 30rem;
  background-image: url(../photos/glasses-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* ----------nav---------- */

nav{
  padding: 1rem 0;
  background-color: cadetblue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav div{
  display: flex;
  align-items: center;
}

nav img{
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

.menu ul{
  display: flex;
}

.menu li{
  margin: 1rem 2rem 1rem 0rem;
}

/* ----------banner---------- */

.section{
  display: flex;
  justify-content: flex-end;
}

.banner{
  background-color: white;
  padding: 1.5rem 5rem;
  margin-top: 10rem;
  margin-right: -2rem;
}

.banner h1{
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}

/* -------------------------icons------------------------- */

.icons{
  display: flex;
  justify-content: center;
}

.services{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 5rem;
  margin: 3rem;
  height: 8rem;
}

.services img{
  width: 5rem;
  margin-bottom: 1rem;
}

.services img.specwidth {
  width: 3.5rem;
}

/* -------------------------content------------------------- */

.content{
  display: flex;
  justify-content: center;
}

.info{
  width: 35%;
  margin-right: 5%;
  margin-bottom: 5rem;
}

.info h2{
  width: 10rem;
  background-color: cadetblue;
  padding: 0.5rem 1.25rem;
  color: white;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* -------------------------footer------------------------- */

footer{
  background-color: azure;
  padding: 4rem 2rem;
  display: flex;
  align-items: center;
}

footer img{
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

/* -------------------------@media queries------------------------- */

@media only screen and (max-width: 1024px){
  header{
    height: 22rem;
    padding: 0;
  }

  .container{
    max-width: 100%;
  }

  .banner{
    padding: 0.75rem 4rem;
    margin-top: 5rem;
    margin-right: 2rem;
  }

  .banner h1{
    font-size: 1.33rem;
  }
}
